.explore-menu-text {
  max-width: 100%;
  color: black;
}
.explore-menu {
  margin-bottom: 30px;
  margin-top: -25px;
}
.explore-menu hr {
  margin: 15px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
